# shortcuts
alias nuke='rm -rf'
alias ..='cd ..'
alias w="which"
alias lsa="ls -la"

# git aliases
alias g="git"
alias gst='git status'
alias gs='git switch'
alias ga='git add'
alias gai='git add -i'
alias gcm='git commit -m'
alias gci='git commit --interactive'
alias gcim='git commit --interactive -m'
alias gco='git checkout'
alias gd='git diff'
alias gdn='git diff --no-ext-diff'
alias gp='git push'
alias gr='git restore'
alias gfm='git pull'
alias cdr='cd $(git rev-parse --show-toplevel)' # cd to repository root
git config --global alias.lg "log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"

# app overrides
alias cat='batcat'
